@import url(https://fonts.googleapis.com/css?family=Lato);

html {
  height: 100%;
  background-color: rgb(197, 83, 100);
  background: linear-gradient(290deg, rgba(197, 83, 100 ,1), rgba(147, 13, 30, 1));
  background: -webkit-linear-gradient(290deg, rgba(197, 83, 100 ,1), rgba(147, 13, 30, 1));
  background: -moz-linear-gradient(290deg, rgba(197, 83, 100 ,1), rgba(147, 13, 30, 1));
}
body {
  padding-top: 40px;
  font-family: 'Lato';
}
.panel {
  padding: 20px;
  min-height: 500px;
  position: relative;
}
.panel .text-block {
  margin-bottom: 30px;
}
.text-success {
  color: #449d44;
}
.text-danger {
  color: #d9534f;
}
.only-button-ingame {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.loading-fire img {
  width: 100px;
  position: absolute;
  bottom: 56px;
  left: 20px;
}
.dragon {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.find-button-you-must {
  position: absolute;
  left: 20px;
  bottom: 60px;
}