<p class="text-block">
	Its a {{battleStats.status}}, <br>
	R.I.P {{gameData.knight.name}}
</p>

<p class="text-block">
	Battle info: <br>
	{{battleStats.message}}
</p>

<p>
Session stats: <br>
Wins: <span class="text-success">{{stats.victorys}}</span> <br>
Defeats: <span class="text-danger">{{stats.defeats}}</span> <br>
Success: <span ng-class="{'text-success': stats.victorys * 100 / (stats.victorys+stats.defeats) > 0, 'text-danger' : stats.victorys * 100 / (stats.victorys+stats.defeats) < 0}">{{stats.victorys * 100 / (stats.victorys+stats.defeats)}}%</span>
</p>
<div class="btn btn-success only-button-ingame" ng-click="startNewGame();">FIND ANOTHER KNIGHT</div>

