<p class="text-block">
	You found a knight named {{gameData.knight.name}}
</p>
<p>
	Here are the knight stats, will you defeat it?
	<span ng-if="stat != 'name'" ng-repeat="(stat, val) in gameData.knight" class="list-group-item">{{stat | uppercase}} : {{val}} <br></span>
</p>
<p>
	Weather broadcast: <br>
	{{weatherStatus}}
</p>
<div class="btn btn-success only-button-ingame" ng-click="attackKnight();">ATTACK!!</div>

