<p class="text-block">
	Welcom player! To start your journey press the button below. (this is test deploying)
	<span class="find-button-you-must">Yes, this one saying start a new game!</span>
</p>
<div class="btn btn-success only-button-ingame" ng-click="startNewGame();">Start a new game!</div>

