<div class="panel col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
	<div id="game-content" ng-include="'views/screens/'+gameStatus+'.html'">
	</div>
	<div ng-if="loading.status" class="loading-fire">
		<img src="image/fire.gif" title="loading" alt="loading" />
	</div>
	<div class="dragon">
		<img src="image/dragon.gif" title="dragon" alt="dragon" />
	</div>
</div>